body {
  background: #000;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

.box {
  margin-top: 40px;
  padding: 20px;
  background: #111;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

input {
  width: 95%;
  padding: 8px;
  margin-bottom: 12px;
  border: none;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  background: #e60000;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.deposit {
  color: #00d5ff;
  text-decoration: none;
  font-size: 18px;
}
